<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eastng.football.service.match.persistence.MatchMapper">

	<!-- 比赛信息表 -->
	<sql id="match"> t_match </sql>

	<resultMap id="matchMap" type="match">
		<id column="ID" property="id" />
		<result column="MATCH_NO" property="matchNo" />
		<result column="HOST_TEAM_NO" property="hostTeamNo" />
		<result column="HOST_SHORT_NAME" property="hostShortName" />
		<result column="GUEST_TEAM_NO" property="guestTeamNo" />
		<result column="GUEST_SHORT_NAME" property="guestShortName" />
		<result column="EVENT_ID" property="eventId" />
		<result column="SEASON_NAME" property="seasonName" />
		<result column="MATCH_TIME" property="matchTime" />
		<result column="ROUND" property="round" />
		<result column="HOST_GOAL" property="hostGoal" />
		<result column="GUEST_GOAL" property="guestGoal" />
		<result column="HALF_TIME_HOST_GOAL" property="halfTimehostGoal" />
		<result column="HALF_TIME_GUEST_GOAL" property="halfTimeGuestGoal" />
		<result column="MATCH_STATUS" property="matchStatus" />
	</resultMap>
	
	<insert id="saveMatch" parameterType="match" >
		insert into T_MATCH(
		    ID,
		    MATCH_NO,
		    HOST_TEAM_NO,
		    HOST_SHORT_NAME,
		    GUEST_TEAM_NO,
		    GUEST_SHORT_NAME,
		    EVENT_ID,
		    SEASON_NAME,
		    MATCH_TIME,
		    ROUND,
		    HOST_GOAL,
		    GUEST_GOAL,
		    HALF_TIME_HOST_GOAL,
		    HALF_TIME_GUEST_GOAL,
		    MATCH_STATUS
		)values(
		    #{id},
		    #{matchNo},
		    #{hostTeamNo},
		    #{hostShortName},
		    #{guestTeamNo},
		    #{guestShortName},
		    #{eventId},
		    #{seasonName},
		    #{matchTime},
		    #{round},
		    #{hostGoal},
		    #{guestGoal},
		    #{halfTimeHostGoal},
		    #{halfTimeGuestGoal},
		    #{matchStatus})
	</insert>
	
	<!-- <update id="update" parameterType="PmsUser">
		update <include refid="pms_user"/>
		<set>			
			version = #{version}+1,
			main_user_id = #{mainUserId},
			user_name =  #{userName},
			user_no =  #{userNo},
			user_pwd = #{userPwd},
			email = #{email},
			mobile_no = #{mobileNo},
			status = #{status},
			user_type = #{userType},
			last_login_time = #{lastLoginTime},
			is_changed_pwd = #{isChangedPwd,javaType=Boolean,jdbcType=INTEGER},
			pwd_error_count = #{pwdErrorCount},
			pwd_error_time = #{pwdErrorTime},
			remark = #{remark}
		</set>
		<where>
			ID = #{id} and VERSION = #{version}
		</where>
	</update>
	
	
  	<select id="getById" parameterType="long" resultMap="beanMap">
    	select * from <include refid="pms_user"/> where id = #{id}
  	</select>
  	
  	<select id="findByUserNo" parameterType="string" resultMap="beanMap">
    	select * from <include refid="pms_user"/> where user_no= #{userNo}
  	</select>
  	
  	<select id="listAll" resultMap="beanMap">
    	select * from <include refid="pms_user"/> order by id
  	</select>
  	
  	<delete id="deleteById" parameterType="long">
    	delete from <include refid="pms_user"/> where id = #{id}
  	</delete>

	<sql id="condition_sql">
		Equal query
		<if test="mainUserId != null and mainUserId != ''"> and main_user_id = #{mainUserId}</if>
		<if test="status != null and status != ''"> and status = #{status}</if>
		<if test="userNo != null and userNo != ''"> and user_no = #{userNo}</if>
		Like query
		<if test="userName != null and userName != ''"> and user_name like CONCAT(CONCAT('%', #{userName}), '%')</if>
	</sql>
	
	<select id="listPage" parameterType="java.util.Map"  resultMap="beanMap">
		select * from  
		<include refid="pms_user"/>
		
		<where>
			<include refid="condition_sql" />
		</where>
		order by id desc 
		limit #{pageFirst} , #{pageSize} 
	</select>
	
	<select id="listPageCount" parameterType="java.util.Map" resultType="long">
		select count(1) from <include refid="pms_user"/>
		<where>
			<include refid="condition_sql"/>
		</where>
	</select> -->
	
</mapper>